@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.animate-flash {
  animation: flash 1s infinite;
}

/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to right, #ffffff, #f8f7ff, #eff0ff, #e4e9ff, #d8e3ff, #cbe3ff, #bce3ff, #ace3ff, #97e9ff, #81f0ff, #6cf6fc, #5ffbf1);
}

.container {
  max-width: 1200px;
  margin: 0 auto; /* Center the content */
  padding: 0 20px; /* Add some padding to the sides */
}

.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: all 0.3s ease;
  background-color: #ffffff;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);

}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 1.5rem; /* Larger font size for headings */
  margin-bottom: 0.5rem; /* Add some space below headings */
}

.card p {
  font-size: 2rem; /* Regular font size for paragraphs */
  color: #ccc; /* Light gray color for paragraphs */
  font-family: "Poppins", sans-serif;
}

.card a {
  color: #3498db; /* Blue color for links */
}

.card a:hover {
  text-decoration: underline;
}

.price {
  font-size: 16px;
}